.botoninicio{
    background-color: black;
    border: none;
    font-size: 30px;
    color: #fff;
    text-align: center;
    -webkit-animation: brillo 1s ease-in-out infinite alternate;
    -moz-animation: brillo 1s ease-in-out infinite alternate;
    animation: brillo 1s ease-in-out infinite alternate;
  
}
.options{
  display:block;
  position: fixed;
  cursor: pointer;
}
  
.botonTV{

  background-color: black;
    opacity: 0.3;
    border: none;
    font-size: 10px;
    color: #fff;
    text-align: center;
    /*-webkit-animation: brillo 1s ease-in-out infinite alternate;
    -moz-animation: brillo 1s ease-in-out infinite alternate;
    animation: brillo 1s ease-in-out infinite alternate;*/
  
  }
  
  @-webkit-keyframes brillo {
    from {
      text-shadow: 0 0 10px #fff}
    to{
    }
  }


  .monkespeed{
    width: 10%;
    height: 10%;
  }